@import './site-nav';
@import './auth-nav';

.header--border-bottom {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__main-nav {
  display: flex;
  align-items: center;
}

.header__logo {
  display: block;
  margin-right: 93px;

  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;

  span {
    color: $accent-color;
  }
}
